<div class="full-width">
  <div class="wrapper container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row rel-header text-center">
          <h1>Materiais&nbsp;indicados para voc&ecirc;</h1>
          <p class="lead">Otimizar as etapas do funil de vendas &eacute; fundamental para garantir a efic&aacute;cia da sua estrat&eacute;gia de Marketing Digital e n&atilde;o deixar escaparem oportunidades de venda. Veja materiais que auxiliam a&nbsp;analisar sua performance e melhorar as taxas de convers&atilde;o.</p>
        </div>
        <div class="row rel-offer">
          <div class="col-md-4">
            <div class="card">
              <img src="https://d335luupugsy2.cloudfront.net/images/landing_page/69256/offer-logo.png" alt="" width="600" height="351" />
              <h2>eBook Landing Pages na pr&aacute;tica</h2>
              <a class="button" href="http://materiais.resultadosdigitais.com.br/landing-pages-na-pratica"> Baixar eBook Gr&aacute;tis </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="https://d335luupugsy2.cloudfront.net/images/landing_page/11330/offer-logo.png" alt="" width="400" height="400" />
              <h2>eBook Conte&uacute;do para Automa&ccedil;&atilde;o de Marketing</h2>
              <a class="button" href="http://materiais.resultadosdigitais.com.br/ebook-conteudo-para-automacao-de-marketing"> Baixar eBook Gr&aacute;tis </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="https://d335luupugsy2.cloudfront.net/images/landing_page/124366/ebook_thank_u_page.png" alt="" width="598" height="381" />
              <h2>Como ganhar tempo vendendo aos clientes ideais</h2>
              <a class="button" href="http://materiais.resultadosdigitais.com.br/ebook-acelerando-suas-vendas"> Baixar eBook Gr&aacute;tis </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="full-width copyright">
  <p>
    Copyright © 2016 <a href="http://resultadosdigitais.com.br">Resultados Digitais</a> | <a href="http://resultadosdigitais.com.br/politica-de-privacidade/">Política de Privacidade</a>
  </p>
</div>

<script type="text/javascript">
  $("document").ready(function(){
    $(".clearfix>.wrapper").addClass("container");
    $("#content").remove();
    $("#conversion").remove();
    $('#social-share').remove();
  });
  $(window).load(function(){
   $('#preloader').fadeOut('slow',function(){$(this).remove();});
  });
</script>
<!-- Script Social Proof -->
<script src="https://s3.amazonaws.com/rd-marketing-objects/cro/social-proof-experiment/jquery.easing.min.js"></script>
<script src="https://s3.amazonaws.com/rd-marketing-objects/cro/social-proof-experiment/jquery.animateNumber.min.js"></script>
<script src="https://s3.amazonaws.com/rd-marketing-objects/cro/social-proof-experiment/social-proof.js"></script>
<script src="https://spreadsheets.google.com/feeds/list/1EoKRmk8VR_WKrdnBCvFLny34u0qO_le0PgA6a3SdY7s/od6/public/basic?hl=en_US&alt=json&callback=parseData"></script>
<!-- End Script Social Proof -->
