<div id="preloader" class="preloader">&nbsp;</div>
<div class="brand-header">
  <img src="https://s3.amazonaws.com/rd-marketing-objects/lp-segmentos/images/logo-rd.svg" alt="Resultados Digitais" />
</div>
<section class="header">
<div class="container">
<div class="row">
<div class="col-md-12 eBook-thanks">
<h1>Obrigado!</h1>
<h2>Agradecemos pelo interesse em nosso eBook: Programa&ccedil;&atilde;o para Marketeiros</h2>
</div>
</div>
<div class="row eBook-thanks-resource">
<div class="col-md-3 img-eBook-thanks"><img src="https://d335luupugsy2.cloudfront.net/cms%2Ffiles%2F2%2F1464882965imgProgMkt.png" alt="" /></div>
<div class="col-md-9">
<h1>[eBook] Programa&ccedil;&atilde;o para profissionais de Marketing</h1>
<a class="button" href="link/to/file.pdf">Abrir eBook</a>
<a class="button" href="link/to/file.pdf" download>Baixar eBook</a></div>
</div>
</div>
</section>
