/* TYPOGRAPHY */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800);

/* MIXINS */
@mixin flex-valign($container-height){
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-height: $container-height;
}

* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5 !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}
body {
  font-size: 16px !important;
}
h1, h2, h3, h4, h5, h6 {
  &:first-child{
    margin-top: 0;
  }
}
p.lead {
    margin: 32px 0;
}
ul, ol {
  padding-left: 20px;
}
ul li, ol li {
  margin-bottom: 8px;
  list-style: none;
  position: relative;
}
ul li:before {
  content: "";
  position: absolute;
  left: -22px;
  top: 6px;
  width: 6px;
  height: 14px;
  border-left: 2px dotted;
}
ol {
  counter-reset: ol-counter;
}
ol li {
	counter-increment: ol-counter;
}
ol li:before {
	content: counter(ol-counter)".";
	position: absolute;
  left: -22px;
  font-weight: 700;
  font-size: 12px;
  top: 4px;
}
blockquote {
  border-left-style: dotted;
  border-left-width: 2px;
}
hr {
    border-top-style: dotted !important;
    border-top-width: 2px !important;
    margin: 32px 0 !important;
}

/* RESET */
#container {
  position: relative;
  width: 100%;
  height: auto;
  float: none;
}
  #container > section {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
    #container > section .socialfloating {
      top: 32px !important;
    }
  #container > header {
  	padding:0;
  }
    #container > header div.wrapper {
    	display: block;
    	width:100%;
    }
#content {
  padding: 48px 30px;
}
.wrapper{
	overflow: visible !important;
  padding-left: 0;
  padding-right: 0;
}
.container img {
	max-width: 100%;
}

/* PRELOADER */
#preloader {
  background: #ffffff url("https://s3.amazonaws.com/rd-marketing-objects/lp-segmentos/images/preloader.svg") no-repeat center center;
  height: 100%;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* BRAND HEADER */
.brand-header {
	border-bottom: none;
	display: block;
	margin: 0;
	padding: 10px 0;
	text-align: center;
  width: 100%;
}
.brand-header img {
  max-height: 30px;
  max-width: 200px;
	padding: 0;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
  width: auto;
}
.brand-header img+img {
  margin-top: 10px;
}

/* HEADER */
.header {
  padding: 32px 0;
}
  .header h1 {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
  }
  .header h2 {
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0 0;
    padding-bottom: 14px;
  }
  .header img {
    padding: 0;
    margin: 0;
  }
  .header-centered {
    text-align: center;
  }
    .header-centered h1, .header-centered h2 {
      margin: 20px 0 0;
    }

.offer-image {
  text-align: center;
  display: none;
}

/* FULL WIDTH CONTAINER */
.full-width {
  padding: 32px 0;
  background: #f4f4f4;
}
.full-width * {
  border-color: #1b5c72;
}
.full-width.copyright {
  background: #1b5c72;
}

.card {
  background-color: #ffffff;
  padding: 30px;
}

/* CONVERSION */
#conversion {
  box-shadow: 0 0 0;
  border-radius: 0;
  padding: 0;
}
  #conversion header {
    border-radius: 0;
  }
  #conversion section {
    background-color: transparent;
    border-radius: 0;
  }
  #conversion p, #conversion label {
    font-weight: 400;
  }

/* BUTTON */
input[type="button"], input[type="submit"], .button {
  box-shadow: none !important;
  border-radius: 6px !important;
  transition: all .4s;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5) !important;
  text-transform: uppercase;
  font-size: 16px !important;
  letter-spacing: 1.5px;
}
.button {
  display: block;
  cursor: pointer;
  height: auto;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  word-break: break-word;
  white-space: normal;
  vertical-align: middle;
  margin: 24px 0 0;
  padding: 15px 20px 17px 20px;
  color: #f2f2f2;
  background-color: #e5a117;
}
.button:hover {
  text-decoration: none;
  background-color: #feba30;
  color: #f2f2f2;
}

/*RESOURCE THANKYOU PAGE*/
.header .eBook-thanks h1 {
  text-align: center !important;
  margin: 16px auto;
  font-size: 40px;
}
.header .eBook-thanks h2 {
  text-align: center !important;
  max-width: 100% !important;
  padding-bottom: 24px;
  margin: 16px auto 24px !important;
}
.eBook-thanks-resource {
  padding: 24px 0;
}
.header .eBook-thanks-resource h1 {
  margin: 0;
  font-size: 24px;
  margin-top: 24px;
}
.img-eBook-thanks img {
  max-width: 180px;
  margin: 0 auto;
  display: block;
}

$social-proof-color: #de7006;
$w: 102px;
.social-proof {
  position: absolute;
  display: none;
  top: -30px;
  right: -30px;
  width: $w;
  height: $w;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  * {
    box-sizing: border-box;
  }
  &-badge {
    position: relative;
    &-bg {
      position: absolute;
      left: 0;
      right: 0;
      width: $w/5*3;
      height: $w/5*3;
      margin: $w/5 auto;
      &-1,
      &-2,
      &-3 {
        position: absolute;
        width: $w/5*3;
        height: $w/5*3;
        background: $social-proof-color;
        border-radius: 3%;
      }
      &-1 {
        transform: rotate(5deg);
      }
      &-2 {
        transform: rotate(35deg);
      }
      &-3 {
        transform: rotate(65deg);
      }
    }
    &-text {
      position: absolute;
      left: 0;
      right: 0;
      width: $w/5*3;
      height: $w/5*3;
      margin: 27px auto 0;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      border-radius: 100%;
      &-1 {
        display: block;
    		font-weight: 700;
    		font-size: 18px;
    		margin: 0;
      }
      &-2 {
        font-size: 8.5px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}

.tipboxIcon {
  /* COR DA BOLINHA DO ICONE: */
  background-color: #ffffff;
  border-radius: 30px;
  /* COR DA FONTE DO ICONE: */
  color: #4F7B98;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 20px !important;
  line-height: 14px;
  margin: 0 10px !important;
  padding: 3px 0px;
  position: relative;
  text-align: center;
  width: 20px !important;
}

.tipboxText {
  /* COR DO FUNDO DO TIPBOX: */
  background-color: #4F7B98;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  /* COR DA FONTE DO TIPBOX: */
  color: #FFFFFF;
  display: none;
  font-size: 14px;
  font-weight: normal;
  left: -75px;
  line-height: 18px;
  min-width: 250px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 25px;
  z-index: 99;
}

.tipboxText:before {
  /* COR DO FUNDO DO TIPBOX: */
  background-color: #4F7B98;
  content: '';
  height: 25px;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  top: -2px;
  transform: rotate(45deg);
  width: 25px;
  z-index: -1;
}

.tipboxIcon:hover .tipboxText {
  display: block;
}


.rel-offer
{
  margin: 60px 0 20px;
  text-align: center;
  [class^="col"] {
    margin-bottom: 40px;
    padding: 0 15px;
    img {
      height: auto;
      max-height: 160px;
      width: auto;
      padding: 0;
    }
  }
  h2 {
    font-size: 20px;
  }
}
.rel-header
{
  h1 {
    font-weight: 700;
    font-size: 32px;
  }
}

.copyright {
  background: #1d6685;
  padding: 16px 0;
  p {
    color: #fff;
    font-size: 14px;
    padding: 0 30px;
    text-align: center;
    a {
      color: #fff;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.kit-resources>[class^="col"] {
    background: rgba(0,0,0,0.1);
    padding: 0;
    margin: 20px 0;
    overflow: hidden;
}
.kit-resources [class^="col"] [class^="col"] {
  padding: 30px;
  text-align: left;
  color: #fff;
}
.kit-resources .description:before {
    content: "";
    display: block;
    width: 100%;
    height: 1000px;
    position: absolute;
    background-color: rgba(0,0,0,0.05);
    top: 0;
    right: 0;
}
.kit-resources .btn-primary {
    margin-bottom: 0;
}
.kit-resources h2 {
    margin: 0;
    font-size: 24px;
}
.kit-resources .btn-primary+h2 {
  margin-top: 40px;
}

.label {
  background-color: rgba(0,0,0,0.2);
  padding: 5px 15px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
  position: relative;
  top: -4px;
  border-radius: 30px;
}

.embed-responsive {
  margin-top: 30px;
}

@media screen and (min-width: 992px) {
  .brand-header {
    height: 45px;
  }
    .brand-header img {
      display: inline;
    }
    .brand-header img+img {
      margin: 0 0 0 20px;
    }
  .offer-title, .offer-image {
    @include flex-valign(300px);
  }
  .offer-title h1, .offer-title h2 {
    text-align: left;
  }
  [class^="col"] {
    padding: 0 40px;
  }
  .img-eBook-framed {
    margin: inherit;
    padding: 25px !important;
  }
  .button {
    display: inline-block;
    max-width: 280px;
  }
  .button+.button {
    margin-left: 16px;
  }
  .rel-offer [class^="col"] {
    margin-bottom: 0px;
  }
  .rel-offer h2 {
    min-height: 90px;
  }
  .socialfloating {
    display: block;
  }
  .social-proof {
    display: inline-block;
  }
}

@media screen and (max-width: 992px) {
  #content, #conversion header, #conversion section, .full-width .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
