<div id="preloader" class="preloader">&nbsp;</div>
<div class="brand-header">
  <img src="https://s3.amazonaws.com/rd-marketing-objects/lp-segmentos/images/logo-rd.svg" alt="Resultados Digitais" />
  <img src="https://d335luupugsy2.cloudfront.net/cms%2Ffiles%2F2%2F1470734335gainsight.png" alt="Zapier" />
</div>
<section class="header">
  <div class="container">
    <div class="row offer-header">
      <div class="col-md-7 col-md-push-5 offer-title">
        <h1>[eBook] Programação para profissionais de Marketing</h1>
        <h2>Baixe o eBook gratuito e comece hoje mesmo a eliminar o trabalho manual e repetitivo do seu dia a dia</h2>
      </div>
      <div class="col-md-5 col-md-pull-7 offer-image">
        <img src="https://d335luupugsy2.cloudfront.net/images/landing_page/155127/materiais.png" alt="Descrição alt da Capa" />
      </div>
    </div>
  </div>
</section>
