<!DOCTYPE html>
<html>

  {% include _station-parts/html-head.html %}
  {% include head-script.html %}

  <body>
    <div id="container">
      <header>
        <div class="wrapper">

        {% include header.html %}

        </div>
      </header>

      <section class="clearfix">
      <div class="wrapper">
        <div id="content" class="left">
          {{ content }}
        </div>
        {% include _station-parts/html-conversion.html %}

      {% include _station-parts/html-bottom.html %}

      </div>
      {% include body-script.html %}
    </div>

  </body>

</html>
