<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

BUSQUE OS SEGUINTES TERMOS PARA ENCONTRAR OS BLOCOS DE CÓDIGO QUE DEVEM SER COLADOS EM CADA ÁREA DO RD STATION:

CONTENT_HEADER - CÓDIGO QUE VAI PARA A ÁREA "CONTEÚDO / HTML DO CABEÇALHO"
CONTENT_BODY - CÓDIGO QUE VAI PARA A ÁREA "CONTEÚDO / HTML DO CORPO"
HEAD_SCRIPT - CÓDIGO QUE VAI PARA A ÁREA "APARÊNCIA / JAVASCRIPT EM HEAD"
BODY_SCRIPT - CÓDIGO QUE VAI PARA A ÁREA "APARÊNCIA / JAVASCRIPT EM BODY"
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!DOCTYPE html>
<html>

  {% include _station-parts/html-head.html %}

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- HEAD_SCRIPT - CÓDIGO QUE VAI PARA A ÁREA "APARÊNCIA / JAVASCRIPT EM HEAD"///////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  {% include head-script.html %}
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- FIM DO HEAD_SCRIPT//////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <body>
    <div id="container">
      <header>
        <div class="wrapper">
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- CONTENT_HEADER - CÓDIGO QUE VAI PARA A ÁREA "CONTEÚDO / HTML DO CABEÇALHO"//////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        {% include header.html %}
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- FIM DO CONTENT_HEADER///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        </div>
      </header>

      <section class="clearfix">
      <div class="wrapper">
        <div id="content" class="left">
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- CONTENT_BODY - CÓDIGO QUE VAI PARA A ÁREA "CONTEÚDO / HTML DO CORPO"////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
          {{ content }}
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- FIM DO CONTENT_BODY/////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        </div>

      {% include _station-parts/html-bottom.html %}

      </div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- BODY-SCRIPT - CÓDIGO QUE VAI PARA A ÁREA "APARÊNCIA / JAVASCRIPT EM BODY"///////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      {% include body-script.html %}
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- FIM DO BODY-SCRIPT//////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    </div>

  </body>

</html>
