<div class="full-width copyright">
  <p>
    Copyright © 2016 <a href="http://resultadosdigitais.com.br">Resultados Digitais</a> | <a href="http://resultadosdigitais.com.br/politica-de-privacidade/">Política de Privacidade</a>
  </p>
</div>

<script type="text/javascript">
  $("document").ready(function(){
    $(".clearfix>.wrapper").addClass("container");
    $("#content").removeClass("left").addClass("col-md-6 col-md-offset-1");
    $("#conversion").removeClass("right").addClass("col-md-4");
    $('#social-share').remove();
  });
  $(window).load(function(){
   $('#preloader').fadeOut('slow',function(){$(this).remove();});
  });
</script>
